
.formulario {
    margin-top: 10rem;    
    text-align: center;
}
.formulario h2 {
    margin: 30px;
    text-align: center;
}
/* .formulario__reservas {
    margin-left: 0.5rem;
    gap: 0.8rem;    
    display: flex;
    justify-content: space-between;
} */

.carrusel{
    margin-top: 3px;
    width: 100%;
}
.tab {
    margin-left: 20px;
    width: 100%;
}
.formulario_div {
    width: min(100%, 1100px);
    /* margin: 0 auto;      */
}
.tabla {
    padding-left: 45%;
    /* background-color: #DDDDFF; */
}
.icono {
    font-size: 16px;
}
